<!DOCTYPE html>

<html ng-app="puppyApp">
	<head>
		<meta charset="utf-8">

		<title>Puppies for Adoption</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="js/PuppiesController.js"></script>
	</head>

	<body>

		<div id="container" ng-controller="PuppiesController as puppies">

<!-- ==============UNADOPTED PUPPIES, LEFT COLUMN============== -->
			
			<div class="left-container">

				<h2>Puppies for Adoption</h2>
					
					<div class="dashed1" ng-click="puppies.addPuppies()">
					
						<ul>

							<li ng-repeat="puppies in puppies.puppiesList | adopted: true">
							<form>
								<input type="checkbox" name="Adopted?" value="Bike">I have a bike
							</form>
								
							</li>
						</ul>

					</div>

			</div>

<!-- ==============UNADOPTED PUPPIES, LEFT COLUMN============== -->

			<div class="right-container">
				
				<h2>Adopted Puppies</h2>
					
					</div>
						
						<div class="dashed2" ng-click="puppies.deletePuppies($index)">
							
						<ul>
						
							<li ng-repeat="puppies in puppies.puppiesList | adopted: false">
								
							</li>

						</ul>

					</div>	
						
		</div>

	</body>

</html>
