<!DOCTYPE html>

<html ng-app="puppyApp">
	<head>
		<meta charset="utf-8">

		<title>Poppppieees</title>

		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		
		<script src="js/angular.js"></script>
		<script src="js/main.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.js"></script>		
		<script src="js/PuppiesController.js"></script>
	</head>

	<body>

		<h1>PUPPY ADOPTION DAY</h1>
<!-- PUPPIES CONTROLLER CONNECTED AS PUPPIES ALIAS -->
		<!-- MAIN CONTAINER DIV -->
		<div class="container" ng-controller="PuppiesController as puppies">

			<!-- LEFT COLUMN, ADOPTED PROPERTY FALSE -->	
			<div class="left">
				<h2>Adopt me!</h2>
					<article class="dashed" ng-repeat="puppy in puppies.puppyList">
						<p id="name">My name is {{ puppy.puppyName | uppercase }}.</p>
						<p>I am {{ puppy.monthsOld }} months old. 
						<br> I am a {{ puppy.gender }}.</p>

						<img ng-src="{{ puppy.image}}" />
						<br> 
						<input class="checkbox" type="checkbox" ng-model="puppy.adopted" ng-click="puppies.adoptPuppy()">
					</article>
			</div>
			
			<!-- RIGHT COLUMN, ADOPTED PROPERTY TRUE -->	
			<div class="right">
				<h2>I have a home</h2>			



					<article class="dashed" ng-repeat="puppy in puppies.puppyList">
						<p id="name">My name is {{ puppy.puppyName | uppercase }}.</p>
						<p>I am {{ puppy.monthsOld }} months old. 
						<br> I am a {{ puppy.gender }}.</p>

						<img ng-src="{{ puppy.image}}" />
						<br> 
						<input class="checkbox" type="checkbox" ng-model="puppy.adopted" ng-click="puppies.adoptPuppy()">
					</article>



			</div>

		</div>
	</body>
</html>
