/*@import a Google Font here!*/

body {
  background-color: #e2e2e2;
  position: absolute;
  margin: 0 auto;
  height: 100%;
}

#container {
  width: 960px;
  height: 100%;
  background-color: white;;
  position: relative;
  margin: 0 auto;
}

.dashed1 {
  border: 1px solid red;
  width: 80%;
  height: 80%;
  display: inline-block;
}

.dashed2 {
  border: 1px solid red;
  width: 80%;
  height: 80%;
  display: inline-block;
}

.left-container, .right-container {
  border-radius: 20px;
  border: 1px solid black;
  float: left;
  margin: 50px;
  padding: 0px 20px;
  position: relative;
  text-align: center;

  height: 80%;
  width: 300px;
}

h2 {
	font-family: bebas;
  font-size: 20px ;
}